In [12]:
import dateutil
import datetime
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import yfinance as yf
import matplotlib.pyplot as plt

In [13]:

lst=[] #For storing the assets


tick=input("Enter the stock name listed in NSE : ")
tick=tick+'.NS'
lst.append(tick)
    
lst.append('^NSEI')

print(lst)

# Set the start and end date
start_date = '2016-01-01' #Beta is typically calculated on past 5 yrs data
end_date = '2021-08-03'
df=[]
for i in range(len(lst)):
    ticker=lst[i]
    data=yf.download(ticker, start_date, end_date)
    df.append(data)

Enter the stock name listed in NSE :  Reliance

['Reliance.NS', '^NSEI']
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
stock_data = pd.concat(df, axis=1, ignore_index=False)
stock_data.head()

,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,
2016-01-01,500.158997,504.666260,499.366516,502.907928,484.996368,2499742,NaN,NaN,NaN,NaN,NaN,NaN
2016-01-04,497.781525,502.140198,488.717438,492.977081,475.419189,13923887,7924.549805,7937.549805,7781.100098,7791.299805,7791.299805,134700.0
2016-01-05,495.453583,500.258057,493.819092,497.855835,480.124176,6897687,7828.399902,7831.200195,7763.250000,7784.649902,7784.649902,145200.0
2016-01-06,499.069336,514.324707,495.503113,511.253815,493.045013,12349673,7788.049805,7800.950195,7721.200195,7741.000000,7741.000000,147100.0
2016-01-07,505.731171,509.173553,499.292206,501.867798,483.993256,9109980,7673.350098,7674.950195,7556.600098,7568.299805,7568.299805,188900.0

In [15]:
pf_data=stock_data['Adj Close']
pf_data.head()

pf_data.columns=lst
pf_data.tail()

            Reliance.NS         ^NSEI
Date
2021-07-27  2055.000000  15746.450195
2021-07-28  2037.349976  15709.400391
2021-07-29  2053.250000  15778.450195
2021-07-30  2035.300049  15763.049805
2021-08-02  2072.500000  15885.150391

In [17]:
log_returns = np.log(pf_data / pf_data.shift(1))
log_returns.head()

            Reliance.NS     ^NSEI
Date
2016-01-01          NaN       NaN
2016-01-04    -0.019944       NaN
2016-01-05     0.009848 -0.000854
2016-01-06     0.026556 -0.005623
2016-01-07    -0.018530 -0.022562

In [18]:
cov = log_returns.cov() * 250
cov

             Reliance.NS     ^NSEI
Reliance.NS     0.090622  0.034947
^NSEI           0.034947  0.033076

In [19]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.03494711823198223

In [20]:
market_var = log_returns['^NSEI'].var() * 250
market_var

0.03307626505184362

# Beta Calculation

In [21]:
STOCK_beta = cov_with_market / market_var
STOCK_beta

1.0565618027672181

# Expected return of the stock(CAPM)

In [22]:
STOCK_er = 0.0675 + STOCK_beta * 0.05
STOCK_er

0.1203280901383609

# Sharpe Ratio

In [23]:
print (tick)
Sharpe = (STOCK_er - 0.0675) / (log_returns[tick].std() * 250 ** 0.5)
Sharpe

Reliance.NS

0.1754879932611056