In [1]:
import dateutil
import datetime
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import yfinance as yf
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [3]:
n=int(input("Enter the number of stocks :"))

lst=[]
for i in range(n):
    tick=input("Enter the stock name listed in NSE : ")
    t=tick+'.NS'
    lst.append(t)
    
print(lst)

# Set the start and end date
start_date = '1990-01-01'
end_date = '2000-08-03'
df=[]
for i in range(len(lst)):
    ticker=lst[i]
    data=yf.download(ticker, start_date, end_date)
    df.append(data)
    
#print(df)

Enter the number of stocks : 3
Enter the stock name listed in NSE :  Reliance
Enter the stock name listed in NSE :  Infy
Enter the stock name listed in NSE :  SBIN

['Reliance.NS', 'Infy.NS', 'SBIN.NS']
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [4]:
stock_data = pd.concat(df, axis=1, ignore_index=False)
stock_data.head()

,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,,,,,,,,,,
1996-01-01,15.859429,15.944529,15.754989,15.917452,10.509540,48051995,0.794921,0.796679,0.791015,0.796679,0.544656,204800.0,18.691147,18.978922,18.540184,18.823240,12.848525,43733533
1996-01-02,15.878770,15.956133,15.677626,15.793671,10.427811,77875009,0.794921,0.798828,0.793457,0.793457,0.542453,204800.0,18.894005,18.964767,17.738192,18.224106,12.439560,56167280
1996-01-03,16.052837,16.783918,15.878770,15.913584,10.506985,96602936,0.798828,0.798828,0.798828,0.798828,0.546125,102400.0,18.327892,18.568489,17.643839,17.738192,12.107882,68296318
1996-01-04,15.762726,15.813012,15.553845,15.766594,10.409932,100099436,0.791015,0.794921,0.791015,0.793554,0.542519,307200.0,17.502312,17.832542,17.223972,17.676863,12.066019,86073880
1996-01-05,15.704703,15.704703,15.522900,15.658285,10.338421,76935930,0.784179,0.784179,0.784179,0.784179,0.536110,51200.0,17.738192,17.785366,17.459852,17.577793,11.998397,76613039

In [6]:

stock_data1=stock_data['Adj Close']
stock_data1.head()

stock_data1.columns=lst
stock_data1.tail()

            Reliance.NS    Infy.NS    SBIN.NS
Date
2000-07-27    41.578354  73.777992  13.850236
2000-07-28    41.143299  74.409546  14.424853
2000-07-31    40.702209  73.495918  14.060462
2000-08-01    40.907646  73.353516  14.011415
2000-08-02    40.968075  72.037689  14.228641

In [7]:
stock_data1.iloc[0]

Reliance.NS    10.509540
Infy.NS         0.544656
SBIN.NS        12.848525
Name: 1996-01-01 00:00:00, dtype: float64

In [8]:
sec_returns = np.log(stock_data1 / stock_data1.shift(1))
sec_returns.head()

            Reliance.NS   Infy.NS   SBIN.NS
Date
1996-01-01          NaN       NaN       NaN
1996-01-02    -0.007807 -0.004053 -0.032347
1996-01-03     0.007564  0.006746 -0.027025
1996-01-04    -0.009280 -0.006624 -0.003464
1996-01-05    -0.006893 -0.011884 -0.005620

In [11]:
#For getting security returns
# sec_returns['Reliance.NS'].mean() * 250
# sec_returns['Infy.NS'].mean() * 250

for i in lst:
    a=sec_returns[i].mean() * 250
    print ("Returns for {} on average in a year is around {} %".format(i,a*100))

Returns for Reliance.NS on average in a year is around 28.58213700652682 %
Returns for Infy.NS on average in a year is around 102.86029374231687 %
Returns for SBIN.NS on average in a year is around 2.1434422575273304 %

In [13]:

sec_returns[['Reliance.NS', 'Infy.NS','SBIN.NS']].std() * 250 ** 0.5

Reliance.NS    0.631042
Infy.NS        0.514011
SBIN.NS        0.448240
dtype: float64

In [14]:
# Standard Deviation indicates the risk or volatility of the stock .
# A stock whose return shows a large deviation from its mean is said to be more volatile.

for i in lst:
    a=sec_returns[i].std() * 250 ** 0.5
    print ("Volatility of {} in a year is around {} %".format(i,a*100))

Volatility of Reliance.NS in a year is around 63.10415317556565 %
Volatility of Infy.NS in a year is around 51.401100636762195 %
Volatility of SBIN.NS in a year is around 44.824036632167825 %

In [15]:
#Calculating Covariance and Correlation

cov_matrix=sec_returns.cov()*250
cov_matrix

             Reliance.NS   Infy.NS   SBIN.NS
Reliance.NS     0.398213  0.074316  0.136723
Infy.NS         0.074316  0.264207  0.085283
SBIN.NS         0.136723  0.085283  0.200919

In [16]:
corr_matrix = sec_returns.corr()
corr_matrix

             Reliance.NS   Infy.NS   SBIN.NS
Reliance.NS     1.000000  0.229201  0.483361
Infy.NS         0.229201  1.000000  0.370025
SBIN.NS         0.483361  0.370025  1.000000

In [18]:
#Calculating portfolio risk / Volatility

#weights = np.array([0.3,0.3,0.3])
weights=np.array([])
sum=0
for i in range(len(lst)):
    a=float(input("Enter the weightage(in float) you wanna give for {}  :".format(lst[i])))
    weights=np.append(weights,[a])
    sum+=a
    
print (weights)

if (sum==1):
    
   
    #Portfolio variance

    pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))
    print("Portfolio Variance : ",pfolio_var)

    #Portfolio Volatility

    pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) ** 0.5
    print("Portfolio Volatility : ",pfolio_vol)
    
else:
    print ("Please enter the weight with sum equivalent to 1 !!")

Enter the weightage(in float) you wanna give for Reliance.NS  : 0.5
Enter the weightage(in float) you wanna give for Infy.NS  : 0.4
Enter the weightage(in float) you wanna give for SBIN.NS  : 0.1

[0.5 0.4 0.1]
Portfolio Variance :  0.19405690472075687
Portfolio Volatility :  0.44051890393121257

In [19]:
print ("Portfolio Volatility : {} ".format(str(round(pfolio_vol, 5) * 100) + ' %'))

Portfolio Volatility : 44.052 %